{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width-inital,inital-scale=1.01" />
  <link rel="stylesheet" href="templates/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=DM+Sans:wght@500&family=Lobster&family=Monoton&family=Sigmar+One&display=swap" rel="stylesheet">
  <title>recommendation page</title>
</head>

<body>
  <section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box">


      <div class="container">
        <div class="form">
          <h2 style="position:relative; bottom:40px; font-size:2rem; color:white">Recommendation Page</h2>
          <form>
          {% csrf_token %}
            <label>Enter PH</label><br />
            <input type="textbox" placeholder="PH" name='ph'><br />
            <label>Enter Month</label><br />
            <input type="textbox" placeholder="month" name='month' /><br />
            <label>Enter the soil-type</label><br />
            <input type="textbox" placeholder="soiltype" name='soil'><br />
            <label>Enter the temperature (celcius)</label><br />
            <input type="textbox" placeholder="temperature (Celcius)" name='temp'><br />
            <label>Enter the rainfall (cm)</label><br />
            <input type="textbox" placeholder="rainfall (cm)" name='rainfall' /><br />
          </form>
        </div>





      </div>
    </div>
  </section>
</body>

</html>
{% endblock %}
