body{
  display:flex;
  justify-content: center;

  width:100%;
  height:100vh;
  font-family: 'DM Sans', sans-serif;
  background-image: url("https://www.desktopbackground.org/download/2560x1440/2012/01/20/331174_gallery-for-light-green-leaves-backgrounds_2950x2094_h.jpg");

}
table {

  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 4px solid #dddddd;
  border-color: black;
  text-align: left;
  padding: 8px;
}
h1{
  font-family: 'DM Sans', sans-serif;
}
